<!DOCTYPE html>
<html lang="en">
<head>
    <title>Personal Expense Tracker</title>
    <link rel="stylesheet" href="Home.css">
</head>
<body>
<style>
        body{
        background-image:url('img.jpeg');
        background-repeat: no repeat;
        background-size: cover;
        } 
        </style>
    <div class="main">
        <div class="navbar">
            <div class="menu">
             
                <ul>

                    <li><a href="Home.html"><h1>HOME</h1></a></li>
                    <li><a href="About us.html"><h1>ABOUT</h1></a></li>
                    <li><a href="Services.html"><h1>SERVICE</h1></a></li>
                    <li><a href="Contact.html"><h1>CONTACT</h1></a></li>
             
                </ul>
              
            </div>    

        </div> 
        <div class="content">
            <h1>Welcome <br><span>to Personal Expense Tracker</span> <br>Application - Expensify</h1>
           <br>
           <br>
                <button class="cn"><a href="Register.html">JOIN US</a></button>

               
</body>
</html>