<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="..\Static\css\About.css">
  
  <title>Services</title>
</head>

<body>
    <style>
        body{
        background-image:url('a2.jpg');
        background-repeat: no repeat;
        background-size: 190% 190%;
        } 
        </style>
         <section id="about">
            <div class="about container">
                <div class="icon"><img src="..\Static\images\ab2.png"></div>
              <div class="col-right">
                <h3>Expensify helps you collect and classify your purchases so that you can identify areas that might be trimmed. Or, in the case of building net worth, places where you can allocate more money, such as savings. You might track expenses for a while just to get an idea of where your money’s going, or it might be a stepping stone toward making and following a budget. We provide a life long services to the user to add and save their expenses.</h3>
              </div>
            </div>
          </section>
</body>
</html>