<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="..\Static\css\Contact.css">
  
  <title>Services</title>
</head>

<body>
    <style>
        body{
        background-image:url('c1.jpg');
        background-repeat: no repeat;
        background-size: 100% 100%;
        } 
        </style>
    
<section id="contact">
    <center>
    <div class="contact container">
      <div class="contact-items">
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/phone.png" /></div>
          <div class="contact-info">
            <h1>Phone</h1>
            <h2>Kiruthika D - +91 9363010276</h2>
            <h2>Ashadevi K.S - +91 7305215885</h2>
            <h2>Ramyasri A - +91 8870874161</h2>
            <h2>Lakshmisri A - +91 9487828766</h2>
            <h2>Kavyashri V - +91 8056865840</h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/new-post.png" /></div>
          <div class="contact-info">
            <h1>Email</h1>
            <h2>dkiruthika002@gmail.com</h2>
            <h2>ashadevisivaprakasam18@gmail.com</h2>
            <h2>ramyasri462000@gmail.com</h2>
            <h2>lakshmisri462000@gmail.com</h2>
            <h2>kavyaks1505@gmail.com</h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/map-marker.png" /></div>
          <div class="contact-info">
            <h1>Address</h1>
            <h2>Erode,Tamilnadu,India</h2>
          </div>
        </div>
      </div>
    </div>
</center>
  </section>
</body>
</html>