<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
        background-image:url('a.jpg');
        background-repeat: no repeat;
        background-size: 150% 150%;
        } 
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>PASSWORD RESETFORM</title>
</head>
<body>
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-5 col-md-8 mx-auto shadow border bg-white p-4 rounded">
                <h2 class="text-center fw-bold mb-3">Reset Here</h2>
                <form name="login">
                    <div id="form_alerts"></div>
                    <p>Enter your registered email id and new password</p>
                    <div class="form-group mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" id="email" name="email" class="form-control" placeholder="Enter your email address" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="text" id="password" name="password" class="form-control" placeholder="Enter your new  password" required>
                    </div>
    
                    <div class="mb-3"><button class="btn btn-primary text-center shadow d-block w-100" data-bss-hover-animate="flash" type="submit">Reset</a></button></div>
                    <p class="text-muted">Do you remember?&nbsp;<a href="Login.html">login Here</a></p>
                   


                </form>
                
            </div>
        </div>
    
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>