<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="..\Static\css\Service.css">
  
  <title>Services</title>
</head>

<body>
    <style>
        body{
        background-image:url('s3.jpg');
        background-repeat: no repeat;
        background-size: 150% 150%;
        } 
        </style>
    <section id="services">
    <div class="services container">
      <div class="service-bottom">
        <div class="service-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png" /></div>
          <h2>Personal Expenses</h2>
          <p>Expensify allows you to track your Personal Expenses. Budgeting is more important than paying bills and setting aside savings.</p>
        </div>
        <div class="service-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png" /></div>
          <h2>Investments</h2>
          <p>Follow your investments and bring your portfolio into focus with support for stocks,bonds,CDs,mutual funds and more.</p>
        </div>
        <div class="service-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png" /></div>
          <h2>Save Money</h2>
          <p>It's about creating a money plan for the life. Expensify helps you to reduce unwanted expenses and make you to save money.</p>
        </div>
        <div class="service-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png" /></div>
          <h2>Financial Life</h2>
          <p>Get your Complete financial picture at a glance. With Expensify application you can view your all the financial activities.
          </p>
        </div>
      </div>
    </div>
  </section>
</body>
</html>