<!DOCTYPE html>
<html>
<head>
<title>DASHBOARD</title>
<style>
    body{
    background-image:url('5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    } 
    
</style>
<link rel="stylesheet" href="Dashboard.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="Profile.html">Profile</a></li>
            <li><a href="Income.html">Add Income</a></li>
            <li><a href="Expense.html">Add Expenses</a></li>
            <li><a href="Report.html">View Report</a></li>
            <li><a href="Feedback.html">Feedback</a></li>
            <li><a href="Login.html">Logout</a></li>
            </ul>
    </nav>
    
    </body>
    </html>
    
